*{
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-image: url("/img/bg-section.webp");
}

.nav {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #004197d3;
  backdrop-filter: blur(32px);
}

.img-logo{
  border-radius: 16px;
  width: 128px;
  height: 88px;
  margin-top: 24px;
}

.img-card-one, 
.img-card-three{
  border-bottom-left-radius: 128px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.img-card-two {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 128px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.malaga{
  color: #ededed;
}

.footer-section{
  display: grid;
  place-content: center;
  padding: 40px 0;
  background-color: #004197;
}



/* Animations */

.animation-img{
  animation: section-services linear both;
  animation-timeline: view();
  animation-range: entry 8% cover 28%;
}

@keyframes section-services {
  from {
    opacity: 0;
    transform: translateY(128px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contacto{
  animation: contacto-animation 5s ease-in forwards;
}

@keyframes contacto-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(32px);
  }
}



